{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
<div class="detail_article">

  <div class="detail">


    <div class="img">
      <img src="{{asset('images/uploads/posts/'~ post.featuredImage)}}" alt="image_article">
    </div>

    <div class="descrip">
      <h2> {{post.slug}}</h2>
      <div>
        {{post.content|raw}}

      </div>
      {% for category in post.categories %}
      <h5>Categorie : {{category.name}}</h5>
      {% endfor %}

      <h4> Auteur : {{post.users.nickname}}</h4>
    </div>

    <div class="descrip">
      <a class="btn" href="{{path('comments_add', {id:post.id})}}">commenter</a>
      <h1> Comentaires </h1>

     

      {% for comment in post.comments %}
      
      {% if comment.parent is null %}
      <div class="commentaire">
      <h2> {{comment.users.nickname}}</h2>
      
      <p>{{comment.content|raw}} </p>
      <a href=" {{path('comments_add_response',{id:comment.id})}}" class="btn">répondre</a>
        {% for response in comment.comments %}
       
      <div class="response">

        <h2> réponse de {{response.users.nickname}}</h2>
        <p>{{response.content}} </p>
    
      </div>

       
        {% endfor %}
    </div>
      {% endif %}

      
      {% endfor %}



    </div>

  </div>









</div>



{% endblock %}