{% extends 'base.html.twig' %}

{% block title %}touts les articles {% endblock %}

{% block body %}



{% if app.user %}
<div class="button">
  <a href="{{path('posts_add')}}" class="btn">Ajouter votre article</a>
</div>
{% endif %}

<div class="main" style="margin-top: 100px;">
   <form class="div_select">
    <label for="caty">Filtrer : </label>
    <select name="categorie" id="categorie" class="select">
      <option value=""></option>     
     
      {% for caty in categories %}
      {% if caty.parent is not null %}
      <option value="{{caty.id}}">{{caty.name}}</option>     
      {% endif %}
      {% endfor %}
      <input type="hidden" name="page" value="{{page}}">
        
    </select>
  </form>

   {% include "posts/_content.html.twig" %}

  
</div>


{% endblock %}

 {% block javascripts %}
<script src="{{asset('js/filters.js')}}"></script>
{% endblock %} 
     