{% extends 'base.html.twig' %}

{% block title %}tous les articles {% endblock %}

{% block body %}



{% if app.user %}
<div class="button">
  <a href="{{path('posts_add')}}" class="btn">Ajouter votre article</a>
</div>
{% endif %}

<div class="main_articles" style="margin-top: 100px;">
  <div class="filters">
    <form class="div_select">
      <label for="caty">Filtrer : </label>
      <select name="categorie" id="categorie" class="selectcaty">
        <option value=""></option>

        {% for caty in categories %}
        {% if caty.parent is not null %}
        <option value="{{caty.id}}">{{caty.name}}</option>
        {% endif %}
        {% endfor %}

        {# <input type="hidden" name="page" value="{{page}}"> #}
      </select>

    </form>
    <form class="div_select">
      <label for="trie">Trier : </label>
      <select name="trie" id="trie" class="selecttrie">
        <option value=""></option>
        <option value="DESC">Récent</option>
        <option value="ASC">Ancien</option>

        {# <input type="hidden" name="page" value="{{page}}"> #}

      </select>
    </form>
  </div>

  <div id="content">
    {% include "posts/_content.html.twig" %}
  </div>

</div>


{% endblock %}



{% block javascripts %}

<script src="{{asset('js/filters.js')}}"></script>


{% endblock %}