{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="main">
 

  <div class="baniere">

    <h1> Bienvenu dans mon Blog </h1>
    <div class="lastuser">
      <h2> Dernier utilisateur inscrit </h2>

      {% for user in lastUserSubscrib %}

      <div class="image">
        <img src="{{asset('images/uploads/users/min/300x300-'~ user.image)}}" alt="">
      </div>

      <h3> {{user.nickname}}</h3>
      {% endfor %}
    </div>
  </div>
  <div class="main_articles">
    <h2> Derniers Articles</h2>
    
      <a href="{{path('posts_index')}}" class="all_article">  Tous les articles » </a>
    
    
    <div class="parentpost">
         
      {% for post in lastposts %}
      <a href="{{path('posts_detail',{slug:post.slug, id:post.id})}}" class="cart">

        <div class="img">
          {% if post.featuredImage is  null %}
          <img src=" " alt="image_article">
          
          {% else %}
          <img src="{{asset('images/uploads/posts/min/300x300-'~ post.featuredImage)}}" alt="image_article">
          {% endif %}
         
        </div>

        <div class="body_cart">

          <div class="autor">
             <div class="image">
              <img src="{{asset('images/uploads/users/min/300x300-'~ post.users.image)}}" alt="">
             </div>
             <h4> {{post.users.nickname|capitalize}}</h4>
             <h5> <span class="material-symbols-outlined">
              calendar_month
              </span> {{post.CreatedAt|format_datetime('medium','none',locale='fr') }}</h5>
              
          </div>
          <h3> {{post.slug}}</h3>
          <p> {{post.content|striptags|slice(0, 150)}}... </p>

          {% for category in post.categories %}
          

          <h6> {{category.name|capitalize}} </h6>
    
          {% endfor %}


        </div>

      </a>
      {% endfor %}

    </div>



  </div>
  <div class="auteurs">
    <h2> Auteurs actifs</h2>
    <div class="parentauteur">
      {% for user in usersactif %}
      <div class="cart">
        <div class="circle">
          <div class="img">
           {% if user.image is null  %}
          <img src=" " alt="image_auteur">
          {% else %}
          <img src="{{asset('images/uploads/users/min/300x300-'~ user.image)}}" alt="image_auteur">
          {% endif %} 
           
          </div>
        </div>
        <div class="body_cart">
        <div class="infoauteur">
        <h3> {{user.nickname|capitalize }}</h3>
        <h4> {{user.nombre_articles }} Articles</h4>
        </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}