{% extends 'base.html.twig' %}

{% block title %} votre profile Mr {{app.user.nickname}}{% endblock %}

{% block body %}
<section class="profile">

    <aside>

        <ul>
            <li>Mes information</li>
            <li> Mes articles</li>
            <li> Mes commentaires</li>
            <li> Modifier mot de passe</li>
        </ul>
    </aside>
    <main class="main">
        {# {{ dump(user) }} #}
        <div class="container_profil">
            <h1> bienvenu dans votre espace profile Mr {{user.nickname}} </h1>
            <h2>Mes informations</h2>
            <h3>{{user.nickname}} </h3>
            <h3>{{user.email}} </h3>

            <h2> Mes articles publiés </h2>
            <div class="carts">
                {% for post in user.posts %}

                <a href="{{path('posts_detail',{slug:post.slug, id:post.id})}}">
                    <div class="cart">
                        <h3> {{post.slug}}</h3>
                        {% for category in post.categories %}
                        <h4>Categorie : {{category.name}}</h4>
                        {% endfor %}
                        <div class="links">
                           <a href="{{path('posts_delete',{slug:post.slug, id:post.id})}}"><span class="material-symbols-outlined">
                                    delete
                                </span></a>
                            <a href="{{path('posts_update',{slug:post.slug, id:post.id})}}"><span class="material-symbols-outlined">
                                    edit
                                </span></a>
                        </div>
                    </div>
                </a>
                
                {% endfor %}

            </div>
            <h2>Mes commentaires </h2>
            <div class="comments">
               

                {% for comment in user.comments %}
                <div class="comment">
                {% if comment.parent is  null %}
                <p class="title"> votre commentaire sur l'article <span>{{comment.posts.title}} </span>
                {% else %}
                <p class="title"> votre reponse sur l'article <span>{{comment.posts.title}} </span>
                {% endif %}
                     </p class="content">
                    <p> {{comment.content}} </p>
                    <div class="links">
                        <a href="{{path('comments_delete',{id:comment.id})}}"><span class="material-symbols-outlined">
                                 delete
                             </span></a>
                         <a href="{{path('comments_update',{id:comment.id})}}"><span class="material-symbols-outlined">
                                 edit
                             </span></a>
                     </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </main>




</section>
{% endblock %}