{% extends 'base.html.twig' %}

{% block title %} Administration {{app.user.nickname}}{% endblock %}

{% block body %}

<section class="admin profil">

    <nav class="barnav">

        <li> <a href="#users" class="active"><span class="material-symbols-outlined">
            settings_accessibility
            </span> Utilisateurs</a> </li>
        <li> <a href="#posts"> <span class="material-symbols-outlined">
            newsstand
            </span> Articles </a> </li>
        <li><a href="#comments"> <span class="material-symbols-outlined">
            comment
            </span> Commentaires </a></li>

    </nav>

    <div class="main">
        <div class="users display" id="users">
            <h1>Administration des utilisateurs</h1>
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nickname</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in lastUserSubscrib %}
                    <tr>
                        <td>{{user.id}}</th>
                        <td>{{user.email}}</td>
                        <td>{{user.nickname}}</td>
                        <td>{{user.roles|json_encode()}}</td>
                        <td>
                            <a href="#">M</a>
                            <a href="#"> S</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="posts" id="posts">
            <h1>Administration des articles</h1>
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">titre</th>
                        <th scope="col">categories</th>
                        <th scope="col">image</th>
                        <th scope="col">Ecrit-par</th>
                        <th scope="col">Creer le </th>
                        <th scope="col">Actions</th>


                    </tr>
                </thead>
                <tbody>
                    {% for post in allPosts %}

                    <tr>
                        <td>{{post.id}}</th>
                        <td>{{post.title}}</td>
                        <td>
                            {% for category in post.categories %}
                            {{category.name}}
                            {% endfor %}
                        </td>
                        <td>{{post.featuredImage}}</td>
                        <td>{{post.users.nickname}}</td>
                        <td>{{post.CreatedAt|date("F j,Y")}}</td>

                        <td>
                            <a href="{{path('posts_update',{slug:post.slug,id:post.id})}}"><span class="material-symbols-outlined">
                                    edit
                                </span></a>
                            <a href="{{path('posts_delete',{slug:post.slug,id:post.id})}}"><span class="material-symbols-outlined">
                                    delete
                                </span></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="catys" id="comments">
            <h1>Administration des categories</h1>
            <a href="{{path('admin_categorie_add')}}" class="btn"> Ajouter categorie</a>
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">parent</th>
                        <th scope="col">name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for caty in allCategories %}
                    {% if caty.parent is null %}
                    <tr>
                        <td>{{caty.id}}</th>
                        <td> {{(caty.parent)? caty.parent.name:'null' }}</td>
                        <td>{{caty.name}}</td>


                        <td>
                            <a href="{{path('admin_categorie_update',{slug:caty.slug })}}"><span class="material-symbols-outlined">
                                    edit
                                </span></a>
                            <a href="{{path('admin_categorie_delete',{slug:caty.slug })}}"><span class="material-symbols-outlined">
                                    delete
                                </span></a>
                        </td>
                    </tr>
                    {% for category in caty.categories %}
                    <tr>
                        <td>{{category.id}}</th>
                        <td> {{category.parent.name}}</td>
                        <td>{{category.name}}</td>


                        <td>
                            <a href="{{path('admin_categorie_update',{slug:category.slug })}}"><span class="material-symbols-outlined">
                                    edit
                                </span></a>
                            <a href="{{path('admin_categorie_delete',{slug:category.slug })}}"><span class="material-symbols-outlined">
                                    delete
                                </span></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}