{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="addpost">

    {{ form_start(addcatyform) }}
    <h1>{{title}}</h1>

    {{ form_row(addcatyform.name) }}
    {{ form_row(addcatyform.parent) }}
    {{ form_row(addcatyform.image) }}
    
    <button type="submit" class="button">{{button_label|default('Ajouter')}}</button>
    {{ form_end(addcatyform) }}

</div>

{% endblock %}