{% extends 'base.html.twig' %}

{% block title %}les articles de {{category.slug}}{% endblock %}

{% block body %}
<section class="categories">
       

        {% for post in category.posts %}
            
        <a href="{{path('posts_detail',{slug:post.slug})}}" class="cart">
            <div class="img">
              <img src="{{asset('images/image_style/baniere.jpg')}}" alt="image_article">
            </div>
  
            <div class="body_cart">
                
              
              <h3>Categorie : {{category.slug}}</h3>  
              
              
             <h3> {{post.title}}</h3>
             <h4> {{post.slug}}</h4>
            
             <h4> Auteur : {{post.users.nickname}}</h4>
            </div>
  
          </a>
        {% endfor %}
       
</section>    
    
{% endblock %}
