{% extends 'base.html.twig' %}

{% block title %}{{title}} {% endblock %}

{% block body %}
<div class="addpost">


    {# {{form(addpostform)}} #}
    {{ form_start(addcommentform) }}
    <h1>{{title}}</h1>   
     <p>Contenu</p>
     <div>
        <div id="editor">
    
        </div>
    </div>
    <button type="submit" class="button">{{button_label|default('Ajouter')}}</button>
    {{ form_end(addcommentform) }}

</div>



{% endblock %}

{% block javascripts %}
    {# <script src="{{asset('ckeditor/build/ckeditor.js')}}"></script> #}
{% endblock %}